services:
  db:
    image: postgres:16
    container_name: commoncents-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - commoncents-data:/var/lib/postgresql/data

volumes:
  commoncents-data:
